[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
flake8 = "*"
pep8 = "*"

[packages]
bcrypt = "==3.1.7"
Flask = "==1.0.3"
flak-mysqldb = "*"
flaskext = "*"
Flask-MySQL = "*"
Flask-Session = "*"
Adafruit-DHT = "*"

[requires]
python_version = "3.7.3"
