html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 150px;
  /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px;
  /* negative value of footer height */
  height: 150px;
  clear: both;
  padding-top: 20px;
}

#f1 {
  background: #536976;
  background: -webkit-linear-gradient(to bottom, #292e49, #738ec2);
  background: linear-gradient(to bottom, #292e49, #738ec2);
}

#f2 {
  background: #738ec2;
  color: rgb(228, 228, 228);
}

#f3 {
  background: #536976;
  background: -webkit-linear-gradient(to top, #292e49, #738ec2);
  background: linear-gradient(to top, #292e49, #738ec2);
}

#hv {
  color: white;
  font-weight: bold;
}

#hvv {
  color: white;
}
