body {
  margin: 0;
  padding: 0;
  background: url(../img/Fondo1b.jpeg) no-repeat center top fixed;
  background-size: cover;
  font-family: sans-serif;
}

#calendar {
  background: #428bca;
  /* fallback for old browsers */
  background: linear-gradient(to top, #fff, #56baed);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.margenes {
  margin-top: 4%;
  margin-left: 4px;
}

.colorPrueba {
  background: grey;
}

.colorPrueba1 {
  background: blue;
}
