body {
  padding-right: 0px !important;
  margin-right: 0px !important;
  background: url(../img/Fondo1b.jpeg) no-repeat center top fixed;
  background-size: cover;
  font-family: sans-serif;
}

#calendar {
  background: #428bca;
  /* fallback for old browsers */
  background: linear-gradient(to top, #fff, #56baed);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
}

.margenes {
  margin-top: 4%;
  margin-left: 4px;
}

.colorPrueba {
  background: grey;
}

.colorPrueba1 {
  background: blue;
}

.pointer {
  cursor: pointer;
}

.modal-open {
  overflow: visible;
}

.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  padding-right: 0px!important;
}

div#general3 {
  margin: auto;
  width: 960px;
  height: 800px;
  background: #abbaab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}