<script>
  var calendar;
  var calendarEl;
  document.addEventListener("DOMContentLoaded", function() {
    var x = document.getElementById("Duration");
    var y = document.getElementById("login-2");
    var horas = document.getElementById("horas");
    var minutos = document.getElementById("minutos");
    x.style.display = "none";
    y.style.display = "block";
    $(":checkbox")
      .checkboxpicker({
        onLabel: "Duración",
        offLabel: "Fecha Exacta"
      })
      .on("change", function() {
        if (x.style.display === "none") {
          x.style.display = "block";
          y.style.display = "none";
        } else {
          x.style.display = "none";
          y.style.display = "block";
          horas.value = "";
          minutos.value = "";
        }
      });
    calendarEl = document.getElementById("calendar");
    calendar = new FullCalendar.Calendar(calendarEl, {
      locale: "es",
      plugins: ["dayGrid", "timeGrid", "list", "interaction"],
      header: {
        left: "prev,next today",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay,listWeek"
      },
      //defaultDate: { url: "today" },
      navLinks: true, // can click day/week names to navigate views
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      eventTimeFormat: {
        hour: "2-digit",
        minute: "2-digit",
        meridiem: true
      },
      events: { url: "data" },
      eventClick: function(info, jsEvent, view) {
        $("#tituloEvento").html(info.event.title);
        // Mostrar información de evento en los inputs
        $("#finEvento").val(info.event.end);
        $("#colorEvento").val(info.event.color);
        $("#idEvento").val(info.event.id);
        $("#idUser").val(info.event.idUser);
        var event = calendar.getEventById(info.event.id);
        var end = event.end;
        var start = event.start;
        var id = info.event.id;
        // console.log(start);
        // console.log(typeof start);
        $("#finEvento").val(end);
        $("#inicioEvento").val(start);
        $("#exampleModal").modal();
        $("#btnBorrar").click(function() {
          borrar(id);
        });
      }
    });
    calendar.render();
  });
  function borrar(id) {
    var mensaje;
    var opcion = confirm("¿Está Seguro de querer eliminar el evento?");
    if (opcion == true) {
      $.post("/deletEvent", {
        canvas_data: JSON.stringify(id)
      }).done(function(reply) {
        // console.log(reply);
        document.getElementById("modalClose").click();
        calendar.refetchEvents();
      });
    }
  }
</script>

<script>
  var manualBool = document.getElementById("manualmodeid");
  manualBool.style.display = "none";
  var confirmaManual = document.getElementById("manualBTN");
  var manualBTN = document.getElementById("manual");
  var confirmaAuto = document.getElementById("autoBTN");
  var autoBTN = document.getElementById("auto");
  autoBTN.style.display = "none";
  var confirmaBorrado = document.getElementById("borradoBTN");
  var borraBTN = document.getElementById("borra");
  borraBTN.style.display = "none";
  confirmaManual.addEventListener("click", myFunctionManual);
  confirmaAuto.addEventListener("click", myFunctionAuto);
  if (manualBool.value == 1) {
    myFunctionManual();
  }
  function myFunctionManual() {
    autoBTN.style.display = "block";
    borraBTN.style.display = "block";
    manualBTN.style.display = "none";
    manualBool.value = 1;
    manualServer(manualBool.value);
    document.getElementById("manualCerrar").click();
  }
  function myFunctionAuto() {
    autoBTN.style.display = "none";
    borraBTN.style.display = "none";
    manualBTN.style.display = "block";
    manualBool.value = 0;
    manualServer(manualBool.value);
    document.getElementById("autoCerrar").click();
  }

  function manualServer(valor) {
    $.post("/manualChange", {
      tipo: valor
    })
      .done(function(reply) {
        // console.log(reply);
      })
      .fail(function() {
        console.log("fail manual");
        var t = setTimeout(manualServer, 1000);
      });
  }
</script>

<script>
  window.onload = function() {
    var fchS = document.getElementById("fchS");
    fchS.style.display = "none";
    var usrS = document.getElementById("usrS");
    usrS.style.display = "none";
    var select = document.getElementById("tipoBorrado");
    var selectedOption;
    var usrSelected;
    document.getElementById("borradoBTN").addEventListener("click", myFunction);
    var usr = document.getElementById("usuarioBorrado");
    var obj = 0;
    var date;
    var idBorrado = 0;
    select.addEventListener("change", function() {
      selectedOption = this.options[select.selectedIndex];
      // console.log(selectedOption.value);
      if (selectedOption.value == "full") {
        fchS.style.display = "none";
        usrS.style.display = "none";
      }
      if (selectedOption.value == "day") {
        fchS.style.display = "block";
        usrS.style.display = "none";
      }
      if (selectedOption.value == "user") {
        fchS.style.display = "none";
        usrS.style.display = "block";
      }
      if (selectedOption.value == "conv") {
        fchS.style.display = "block";
        usrS.style.display = "block";
      }
    });
    usr.addEventListener("change", function() {
      usrSelected = this.options[usr.selectedIndex];
    });
    function myFunction() {
      borradoItem();
    }
    function borradoItem() {
      var fch = document.getElementById("fechaBorrado");
      if (selectedOption.value == "day") {
        obj = 0;
        date = fch.value;
        idBorrado = 1;
      }
      if (selectedOption.value == "user") {
        obj = usrSelected.value;
        date = 0;
        idBorrado = 2;
      }
      if (selectedOption.value == "conv") {
        date = fch.value;
        obj = usr.value;
        idBorrado = 3;
      }
      borrado(idBorrado, date, obj);
    }
    function borrado(valor, date, obj) {
      var opcion = confirm("¿Está seguro/a de borrar lo seleccionado?");
      if (opcion == true) {
        if (valor == 0) {
          var men = confirm(
            "Se borrará TODOS los eventos, ¿Está seguro/a de querer continuar?"
          );
          if (men == true) {
            $.post("/deletFull", {
              canvas_data: JSON.stringify(valor)
            }).done(function(reply) {
              // console.log(reply);
              document.getElementById("masivoCerrar").click();
              calendar.refetchEvents();
            });
          }
        }
        if (valor == 1) {
          var men = confirm(
            "Se borrará TODOS los eventos que comiecen en el día seleccionado ¿Está seguro/a de querer continuar?"
          );
          if (men == true) {
            $.post("/deletDay", {
              canvas_data: JSON.stringify(date)
            }).done(function(reply) {
              // console.log(reply);
              document.getElementById("masivoCerrar").click();
              calendar.refetchEvents();
            });
          }
        }
        if (valor == 2) {
          var men = confirm(
            "Se borrará TODOS los eventos del usuario seleccionado ¿Está seguro/a de querer continuar?"
          );
          if (men == true) {
            $.post("/deletUser", {
              canvas_data: JSON.stringify(obj)
            }).done(function(reply) {
              // console.log(reply);
              document.getElementById("masivoCerrar").click();
              calendar.refetchEvents();
            });
          }
        }
        if (valor == 3) {
          var men = confirm(
            "Se borrará TODOS los eventos del usuario que empiecen en la fecha seleccionada ¿Está seguro/a de querer continuar?"
          );
          if (men == true) {
            $.post("/delet2", {
              canvas_data: JSON.stringify(obj),
              canvas_data_date: JSON.stringify(date)
            }).done(function(reply) {
              // console.log(reply);
              document.getElementById("masivoCerrar").click();
              calendar.refetchEvents();
            });
          }
        }
      } else {
      }
    }
  };
</script>
