{% extends "layout.html" %} {% block head %}
<link href="../static/css/calendar/core.css" rel="stylesheet" />
<link href="../static/css/calendar/daygrid.css" rel="stylesheet" />
<link href="../static/css/calendar/timegrid.css" rel="stylesheet" />
<link href="../static/css/calendar/list.css" rel="stylesheet" />

{% endblock %} {% block body %}
<div>
  <div class="row ">
    <div class="col ml-4 mt-3 fadeIn  align-self-start first shadow p-3 mb-5 bg-white rounded" id="calendar">
      <!-- Button trigger modal -->
      <button type="button" class="btn-danger" data-toggle="modal" data-target="#borradoModal">
        Borrado masivo
      </button>
    </div>
    <div class="col align-self-start">
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Mensaje -->
          <div class="fadeIn first">
            {% for mensaje in mensaje %}
            <div class="card text-white bg-{{ mensaje.tipo }} mb-3 ">
              <div class="card-header">{{ mensaje.titulo }}</div>
              <div class="card-body">
                <h4 class="card-title">{{ mensaje.author }}</h4>
                <p class="card-text">{{ mensaje.mensaje }}</p>
              </div>

              {% endfor %}
            </div>
            <!-- Login Form -->
            <form action="/add_event" method="POST" id="myForm">
              <!--  <input type="text" id="login" class="fadeIn second" name="title" placeholder="Nombre del evento" /> -->
              <select name='title'>
                {{ lista | safe }}
                <select name="color">
                  <option value="" selected hidden>Seleccione un color</option>
                  <option value="#ff0000">Rojo</option>
                  <option value="#00ff00">Verde</option>
                  <option value="#ffff00">Amarillo</option>
                  <option value="#81d6fe">Azul</option>
                </select>
                <label for="login-1">
                  Seleccione Fecha de inicio
                </label> <br />
                <input type="datetime-local" id="login-1" class="fadeIn second" name="start" />

                <label for="input-2">
                  Seleccione Método de fin
                </label> <br />

                <input id="input-2" type="checkbox" data-off-active-cls="btn-warning"
                  data-on-active-cls="btn-primary" />

                <div class="d-flex justify-content-center">
                  <input type="datetime-local" id="login-2" class="fadeIn " name="end" />
                </div>

                <div id="Duration" class=" fadeIn w-50 ml-1" style=" white-space:nowrap;">
                  <label for="horas">H:</label>

                  <input type="number" id="horas" name="horas" min="0" placeholder="0">
                  <label for="minutos">M:</label>

                  <input type="number" id="minutos" name="minutos" min="0" max="59" placeholder="0"></div>
                <select id="repe">
                  <option value="0" selected hidden>¿Desea repetir el evento?</option>
                  <option value="0">Sin repetición</option>
                  <option value="1">Repetición diaria</option>
                  <option value="2">Repetición semanal</option>
                  <option value="3">Repetición mensual</option>
                </select>

                <div id="repet" class="fadeIn ml-1">
                  <div id="ShowD">
                    <label for=" dias">Límite de días:</label>
                    <input type="number" id="semanas" name="semanas" min="1" placeholder="1">
                  </div>
                  <div id="ShowS">
                    <label for="semanas">Límite de semanas:</label>
                    <input type="number" id="semanas" name="semanas" min="1" placeholder="1">
                  </div>
                  <div id="ShowM">
                    <label for="meses">Límite de meses:</label>
                    <input type="number" id="meses" name="meses" min="1">
                  </div>
                </div>

                <input type="submit" class="fadeIn fourth" value="Guardar" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal de Borrado -->
<div class="modal fade" id="borradoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="borradoTitulo">Borrador de eventos</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <select id="tipoBorrado">
          <option value="" selected disabled hidden>Seleccione tipo de borrado</option>
          <option value="full">Calendario entero</option>
          <option value="day">Día entero</option>
          <option value="user">Todos los eventos de un usuario</option>
          <option value="conv">Todos los eventos de un usuario en un día</option>
        </select><br />

        <div id="usrS"><select name='title' id='usuarioBorrado'>
            {{ lista | safe }} <br />
        </div>
        <div id="fchS"><input type="date" id="fechaBorrado" /></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" id="borradoBTN" class="btn btn-danger">
          Borrar
        </button>

      </div>
    </div>
  </div>
</div>

<!-- Modal de Selección-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloEvento">Editar Evento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        ID : <input type="text" id="idEvento" name="idEvento" />
        <select name='title1' id=''>
          {{ lista | safe }} <br />
          Inicio: <input type="text" id="inicioEvento" name="inicioEvento" /> Fin:
          <input type="datetime" id="finEvento" name="finEvento" /> Color:
          <input type="color" id="colorEvento" name="colorEvento" /><br />
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button type="button" id="btnBorrar" class="btn btn-danger">
          Borrar Evento
        </button>
        <button type="button" id="btnGuardar" class="btn btn-success">
          Guardar cambios
        </button>
      </div>


    </div>
  </div>
</div>

{% endblock %} {% block script %}

<script src="../static/js/calendar/vendorRrule.js"></script>
<script src="../static/js/calendar/core.js"></script>
<script src="../static/js/calendar/interaction.js"></script>
<script src="../static/js/calendar/moment.js"></script>
<script src="../static/js/calendar/daygrid.js"></script>
<script src="../static/js/calendar/timegrid.js"></script>
<script src="../static/js/calendar/list.js"></script>
<script src="../static/js/calendar/rrule.js"></script>
<script src="../static/js/calendar/es.js"></script>
<script src="../static/js/bootstrap-checkbox-1.5.0/dist/js/bootstrap-checkbox.js" defer></script>

{% include "calendarScp.html" %}

{% endblock %}