{% extends "layout.html" %} {% block head %}
<link href="../static/css/calendar/core.css" rel="stylesheet" />
<link href="../static/css/calendar/daygrid.css" rel="stylesheet" />
<link href="../static/css/calendar/timegrid.css" rel="stylesheet" />
<link href="../static/css/calendar/list.css" rel="stylesheet" />

{% endblock %} {% block body %}
<div>
  <div class="row">
    <div class="col ml-4 fadeIn first" id="calendar"></div>
    <div class="col">
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Mensaje -->
          <div class="fadeIn first">
            {% for mensaje in mensaje %}
            <div class="card text-white bg-{{ mensaje.tipo }} mb-3 ">
              <div class="card-header">{{ mensaje.titulo }}</div>
              <div class="card-body">
                <h4 class="card-title">{{ mensaje.author }}</h4>
                <p class="card-text">{{ mensaje.mensaje }}</p>
              </div>

              {% endfor %}
            </div>
            <!-- Login Form -->
            <form action="/add_event" method="POST" id="myForm">
              <!--  <input type="text" id="login" class="fadeIn second" name="title" placeholder="Nombre del evento" /> -->
              {{ lista | safe }}
              <select name="color">
                <option value="#ff0000">Rojo</option>
                <option value="#00ff00">Verde</option>
                <option value="#ffff00">Amarillo</option>
                <option value="#81d6fe">Azul</option>
              </select>
              <input type="datetime-local" id="login" class="fadeIn second" name="start" />
              <input type="datetime-local" id="login" class="fadeIn third" name="end" />

              <label for="input-2">Reglas de Repetición </label> <br>
              <input id="input-2" type="checkbox">
              <!--  <div class="custom-control custom-checkbox my-1 mr-sm-2 align-self-start">
                <input type="checkbox" class="custom-control-input" id="customControlInline">
                <label class="custom-control-label" for="customControlInline">Reglas de Repetición</label>
              </div>-->

              <p id="myDIV">Checkbox is CHECKED!</p>

              <input type="submit" class="fadeIn fourth" value="Guardar" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloEvento">Editar Evento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        ID : <input type="text" id="idEvento" name="idEvento" /> Usuario :
        {{ lista | safe }} <br />
        Inicio: <input type="text" id="inicioEvento" name="inicioEvento" /> Fin:
        <input type="datetime" id="finEvento" name="finEvento" /> Color:
        <input type="color" id="colorEvento" name="colorEvento" /><br />
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button type="button" id="btnBorrar" class="btn btn-danger">
          Borrar Evento
        </button>
        <button type="button" id="btnGuardar" class="btn btn-success">
          Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}

<script src="../static/js/calendar/vendorRrule.js"></script>
<script src="../static/js/calendar/core.js"></script>
<script src="../static/js/calendar/interaction.js"></script>
<script src="../static/js/calendar/moment.js"></script>
<script src="../static/js/calendar/daygrid.js"></script>
<script src="../static/js/calendar/timegrid.js"></script>
<script src="../static/js/calendar/list.js"></script>
<script src="../static/js/calendar/rrule.js"></script>
<script src="../static/js/calendar/es.js"></script>
<script src="../static/js/bootstrap-checkbox-1.5.0/dist/js/bootstrap-checkbox.js" defer></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var x = document.getElementById("myDIV");
    x.style.display = "none";
    $(':checkbox').checkboxpicker({

      offLabel: 'No',
      onLabel: 'Sí'
    }).on('change', function () {


      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    });

    var calendarEl = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: "es",

      plugins: ["dayGrid", "timeGrid", "list", "interaction"],
      header: {
        left: "prev,next today",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay,listWeek"
      },
      //defaultDate: { url: "today" },

      navLinks: true, // can click day/week names to navigate views
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      eventTimeFormat: { // like '14:30:00'
        hour: '2-digit',
        minute: '2-digit',

        meridiem: true

      },
      events: { url: "data" },

      eventClick: function (info, jsEvent, view) {
        //H
        $("#tituloEvento").html(info.event.title);
        // Mostrar información de evento en los inputs

        $("#finEvento").val(info.event.end);
        $("#colorEvento").val(info.event.color);
        $("#idEvento").val(info.event.id);
        $("#idUser").val(info.event.idUser);
        var event = calendar.getEventById(info.event.id);
        var end = event.end;
        var start = event.start;
        var id = info.event.id
        $("#finEvento").val(end);
        $("#inicioEvento").val(start);



        $("#exampleModal").modal();
        $("#btnBorrar").click(function () {
          borrar(id);
        });
        /*
        var idE = info.event.id;
        document.getElementById("btnBorrar").onclick = function() {
          doWork();
        };

        function doWork() {
          // ajax the JSON to the server
          $.post("deletEvent", idE, function() {});
          // stop link reloading the page
          event.preventDefault();
        }
        */

        //$("#txtFechaI").val(typeof (info.start));
        //$("#txtHoraI").val(FechaHora[1]);

        //document.getElementById("txtFechaI").value = info.event.start
        //lert("Event: " + info.event.title);
        //alert("Coordinates: " + info.jsEvent.pageX + "," + info.jsEvent.pageY);
        //alert("View: " + info.view.type);

        // change the border color just for fun
        //info.el.style.borderColor = "red";
      }
    });
    function borrar(id) {

      var mensaje;
      var opcion = confirm("¿Está Seguro de querer eliminar el evento?");
      if (opcion == true) {
        $.post("/deletEvent", {
          canvas_data: JSON.stringify(id)
        }, function (err, req, resp) {
          window.location.href = "/results/" + resp["responseJSON"];
        });
        window.location.href = "/calendar"
      } else {

      }



    }

    calendar.render();
  });
</script>
<script>



</script>

{% endblock %}