{% extends "layout1.html" %} {% block conten %} {% include "flash.html" %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Mensaje -->
    <div class="fadeIn first">
      {% for mensaje in mensaje %}
      <div class="card text-white bg-{{ mensaje.tipo }} mb-3 ">
        <div class="card-header">{{ mensaje.titulo }}</div>
        <div class="card-body">
          <h4 class="card-title">{{ mensaje.author }}</h4>
          <p class="card-text">{{ mensaje.mensaje }}</p>
        </div>

        {% endfor %}
      </div>
      <!-- Login Form -->
      <form action="/update_pass/{{ user }}" method="POST">
        <input
          type="password"
          id="password"
          class="fadeIn third"
          name="pass"
          placeholder="Contraseña"
        />
        <input
          type="password"
          id="password"
          class="fadeIn third"
          name="repass"
          placeholder="Confirmar Contraseña"
        />
        <input type="submit" class="fadeIn fourth" value="Actualizar" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
