<script>
  var fec;
  var muestras;
  var peri = document.getElementById("peri");
  peri.style.display = "none";
  var tipoD = document.getElementById("tipoD");
  var tipoDSelected;
  var periodo = document.getElementById("periodo");
  var periodoSelected;
  var fin = document.getElementById("fin");
  fin.style.display = "none";
  var diaC = document.getElementById("diaC");
  diaC.style.display = "none";

  periodo.addEventListener("change", function() {
    periodoSelected = this.options[periodo.selectedIndex];
    if (periodoSelected.value == "intervalo") {
      peri.style.display = "block";
    } else {
      peri.style.display = "none";
    }
    if (periodoSelected.value == "dia") {
      diaC.style.display = "block";
    } else {
      diaC.style.display = "none";
    }
    $(":checkbox")
      .checkboxpicker({
        onLabel: "Fecha Exacta",
        offLabel: "Hasta la actualidad"
      })
      .on("change", function() {
        if (fin.style.display == "none") {
          fin.style.display = "block";
        } else {
          fin.style.display = "none";
        }
      });
  });

  function addZero(i) {
    if (i < 10) {
      i = "0" + i;
    }
    return i;
  }
  function hoy() {
    var hoy = new Date();
    var dd = hoy.getDate();
    var mm = hoy.getMonth() + 1;
    var yyyy = hoy.getFullYear();
    dd = addZero(dd);
    mm = addZero(mm);

    return dd + "-" + mm + "-" + yyyy;
  }
  var color = Chart.helpers.color;
  var timeFormat = "HH:mm:ss";
  var myColor;
  function dameFecha(labels) {
    var fechas = [];

    for (var i = 0; i < labels.length; i++) {
      fechas[i] = newDateString(labels[i][0], labels[i][1], labels[i][2]);
    }
    return fechas;
  }
  function newDateString(hours, minutes, seconds) {
    return moment()
      .hour(hours)
      .minute(minutes)
      .second(seconds)
      .format(timeFormat);
  }
  function primera() {
    muestras = 50;
    fec = hoy();

    $.post("/updateStatistics", {
      tipo: "_Humedad",
      fecha: fec,
      muestras: muestras
    }).done(function(reply) {
      crea(reply);
    });
  }
  function transforma(string) {
    2019 - 08 - 01;
    var dd = string.slice(-2);
    var mm = string.slice(5, 7);
    var yyyy = string.slice(0, 4);
    return dd + "-" + mm + "-" + yyyy;
  }

  function updateStatistics() {
    muestras = 50;
    periodoSelected = periodo.options[periodo.selectedIndex];
    if (periodoSelected.value == "hoy") {
      fec = hoy();
    } else if (periodoSelected.value == "dia") {
      var diaSelected = document.getElementById("diaConcreto");
      fec = transforma(diaSelected.value);
    }

    tipoDSelected = tipoD.options[tipoD.selectedIndex];

    $.post("/updateStatistics", {
      tipo: tipoDSelected.value,
      fecha: fec,
      muestras: muestras
    }).done(function(reply) {
      actualiza(reply);
    });
  }
  function dameColor(tipo) {
    switch (tipo) {
      case "Distancia":
        myColor = window.chartColors.orange;
        break;
      case "Temperatura":
        myColor = window.chartColors.red;
        break;
      case "TemperaturaCPU":
        myColor = window.chartColors.purple;
        break;
      case "UsoCPU":
        myColor = window.chartColors.yellow;
        break;
      default:
        myColor = window.chartColors.blue;
    }

    return myColor;
  }

  function actualiza(results) {
    chart.data.datasets[0].data = results.data;
    chart.options.tooltips.callbacks.label = item =>
      `${item.yLabel} ` + results.unidad;
    chart.data.datasets[0].label = results.legend;
    myColor = dameColor(results.legend);
    chart.data.datasets[0].backgroundColor = color(myColor)
      .alpha(0.5)
      .rgbString();
    chart.data.datasets[0].borderColor = myColor;
    chart.data.datasets[0].points.forEach(function(point) {
      point.datasetLabel = "updated label";
    });
    chart.update();
  }

  function crea(results) {
    var config = {
      type: "line",
      data: {
        labels: dameFecha(results.labels),
        datasets: [
          {
            label: results.legend,
            backgroundColor: color(window.chartColors.blue)
              .alpha(0.5)
              .rgbString(),
            borderColor: window.chartColors.blue,
            fill: false,
            data: results.data
          }
        ]
      },
      options: {
        tooltips: {
          callbacks: {
            label: item => `${item.yLabel} %`
          }
        },
        title: {
          text: "Chart.js Time Scale"
        },
        scales: {
          xAxes: [
            {
              type: "time",
              time: {
                parser: timeFormat,
                // round: 'day'
                tooltipFormat: "HH:mm"
              },
              scaleLabel: {
                display: true,
                labelString: "Tiempo"
              }
            }
          ],
          yAxes: [
            {
              scaleLabel: {
                display: true,
                labelString: "Valor"
              }
            }
          ]
        }
      }
    };
    var ctx = document.getElementById("canvas").getContext("2d");
    chart = new Chart(ctx, config);
    window.myLine = chart;
  }
  $("#act").on("click", updateStatistics);
  $(document).ready(primera);
</script>
