<script>
  var refresh = 1;
  $(document).ready(function() {
    function datosS() {
      fetch("/state")
        .then(res => res.json())
        .then(out => {
          funciona(out);
        })
        .catch(error => console.error("Error al obtener datos del sistema"));
      function funciona(data) {
        humedad = data.humedad;
        temperatura = data.temperatura;
        distancia = data.distancia;
        movimiento = data.movimiento;
        alarma = data.alarma;
        temperaturaCPU = data.temperaturaCPU;
        usoCPU = data.usoCPU;
        document.getElementById("hum").innerHTML = humedad.substr(20);
        document.getElementById("tem").innerHTML = temperatura.substr(20);
        document.getElementById("dis").innerHTML = distancia.substr(20);
        document.getElementById("av").innerHTML = movimiento.substr(1, 18);
        document.getElementById("al").innerHTML = alarma.substr(20);
        document.getElementById("cpuT").innerHTML = temperaturaCPU.substr(20);
        document.getElementById("cpu").innerHTML = usoCPU.substr(20);
        refresh = 5000;
      }
    }
    setInterval(datosS, refresh);
  });
</script>
