{% extends "layout.html" %} {% block body %}

<div>
  <div class="row ">
    <div
      class="col  fadeIn  align-self-start first shadow ml-4 mt-3 rounded"
      id="general3"
    >
      <!-- estadísticas -->
      <canvas id="canvas"></canvas>
    </div>
    <div class="col align-self-start">
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Mensaje -->
          <div class="fadeIn first">
            {% for mensaje in mensaje %}
            <div class="card text-white bg-{{ mensaje.tipo }} mb-3 ">
              <div class="card-header">{{ mensaje.titulo }}</div>
              <div class="card-body">
                <h4 class="card-title">{{ mensaje.author }}</h4>
                <p class="card-text">{{ mensaje.mensaje }}</p>
              </div>

              {% endfor %}
            </div>
            <!-- Login Form -->
            <form
              action="#"
              id="myForm"
              onsubmit="return validateFormOnSubmit(this);"
            >
              <!--  <input type="text" id="login" class="fadeIn second" name="title" placeholder="Nombre del evento" /> -->

              <select id="tipoD">
                <option value="" selected hidden>Seleccione un dato</option>
                <option value="_Humedad">Humedad</option>
                <option value="_Temperatura">Temperatura exterior</option>
                <option value="_Distancia">Distancia</option>
                <option value="_TemperaturaCPU">Temperatura interior</option>
                <option value="_UsoCPU">Uso de CPU</option>
              </select>

              <select id="periodo">
                <option value="hoy" selected hidden>Intervalo de tiempo</option>
                <option value="hoy">Hoy</option>
                <option value="dia">Día concreto</option>
                <option value="*">Desde siempre</option>
                <option value="intervalo">Intervalo definido</option> </select
              ><br />

              <div id="diaC">
                <label for="diaConcreto">
                  Seleccione día a mostrar
                </label>
                <br />
                <input type="date" id="diaConcreto" />
              </div>

              <div id="peri">
                <label for="login-1">
                  Inicio
                </label>
                <br />

                <div class="d-flex justify-content-center">
                  <input
                    type="datetime-local"
                    id="login-1"
                    class="fadeIn "
                    name="end"
                  />
                </div>

                <label for="input-3">
                  Fin
                </label>
                <br />

                <input
                  id="input-3"
                  type="checkbox"
                  data-off-active-cls="btn-warning"
                  data-on-active-cls="btn-primary"
                />

                <div id="fin">
                  <div class="d-flex justify-content-center">
                    <input
                      type="datetime-local"
                      id="login-2"
                      class="fadeIn "
                      name="end"
                    />
                  </div>
                </div>
              </div>
              <label for="muestras">Número de muestras:</label>

              <input
                type="number"
                id="muestras"
                name="muestras"
                min="3"
                max="1000"
                value="50"
              />
              <input
                type="button"
                id="act"
                class="fadeIn fourth"
                value="Cargar"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}

<script
  src="../static/js/bootstrap-checkbox-1.5.0/dist/js/bootstrap-checkbox.js"
  defer
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>

{% include "estadisticasScp.html" %} {% endblock %}
