{% extends "layout.html" %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}" />
{% endblock %}
{% block body %}
<div class="modal-body">


  <!-- Login Form -->
  <form action="/add_event" method="POST">
    <input type="text" id="login" class="form-control" name="title" placeholder="titulo" />
    <input type="color" id="login" class="form-control" name="color" placeholder="color" />
    <input type="datetime-local" class="form-control" name="start">
    <input type="datetime-local" class="form-control" name="end">

    <input type="submit" class="fadeIn fourth" value="Guardar" />



    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Mensaje -->
        <div class="fadeIn first">
          {% for mensaje in mensaje %}
          <div class="card text-white bg-{{ mensaje.tipo }} mb-3 ">
            <div class="card-header">{{ mensaje.titulo }}</div>
            <div class="card-body">
              <h4 class="card-title">{{ mensaje.author }}</h4>
              <p class="card-text">{{ mensaje.mensaje }}</p>
            </div>

            {% endfor %}
          </div>

          <!-- Login Form -->
          <form action="/add_event" method="POST" id="event">
            <input type="text" id="login" class="fadeIn second" name="title" placeholder="Nombre del evento" />
            <select class="fadeIn second" name="color">
              <option value="#ff0000">Rojo</option>
              <option value="#00ff00">Verde</option>
              <option value="#ffff00">Amarillo</option>
              <option value="#81d6fe">Azul</option>
            </select>
            <input type="datetime-local" id="login" class="fadeIn second" name="start" placeholder="Email" />
            <input type="datetime-local" id="login" class="fadeIn third" name="end" placeholder="Contraseña" />
            <input type="checkbox" id="login" name="repeticion" value="repeticion">Regla de Repetición
            <input type="submit" class="fadeIn fourth" value="Guardar" />
          </form>
        </div>
      </div>
    </div>
</div>


{% endblock %}