{% extends "layout.html" %}


{% block body %}
<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <form action="/add_event" method="POST">
      <input type="text" id="login" class="fadeIn second" name="title" placeholder="titulo" />
      <input type="text" id="login" class="fadeIn second" name="color" placeholder="color" />
      <input type="datetime-local" name="start">
      <input type="datetime-local" name="end">

      <input type="submit" class="fadeIn fourth" value="Guardar" />

  </div>
</div>
</div>


{% endblock %}