{% extends "layout.html" %} {% block title %}Perfil{% endblock %} {% block head
%}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/modal-images.css')}}"
/>
{% endblock %} {% block body %}

<div class="container mt-2 shadow bg-white rounded mx-auto">
  <!-- Trigger the Modal -->

  {% for ruta in rutas %}

  <img
    id="{{ ruta[:-4] }}"
    src="{{url_for('static', filename='img/camara/' + ruta)}}"
    alt="{{ ruta }}"
    style="width:100%;max-width:150px"
  />
  {% endfor %}
  <!-- The Modal -->
  <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01" />
    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  var modal = document.getElementById("myModal");
  {% for ruta in rutas %}

  var img{{ ruta[:-4] }} = document.getElementById("{{ ruta[:-4] }}");

  {% endfor %}
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  {% for ruta in rutas %}
  img{{ ruta[:-4] }}.onclick = function() {
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  };
  {% endfor %}
  var span = document.getElementsByClassName("close")[0];
  span.onclick = function() {
    modal.style.display = "none";
  };
</script>

{% endblock %}
