{% extends "layout1.html" %} {% block conten %} {% include "flash.html" %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      {% for mensaje in mensaje %}
      <div class="card text-white bg-{{ mensaje.tipo }} mb-3 ">
        <div class="card-header">{{ mensaje.titulo }}</div>
        <div class="card-body">
          <h4 class="card-title">{{ mensaje.author }}</h4>
          <p class="card-text">{{ mensaje.mensaje }}</p>
        </div>

        {% endfor %}
      </div>
      <form action="/login" method="POST">
        <input
          type="text"
          id="login"
          class="fadeIn second"
          name="email"
          placeholder="Email"
        />
        <input
          type="password"
          id="password"
          class="fadeIn third"
          name="password"
          placeholder="Contraseña"
        />
        <input type="submit" class="fadeIn fourth" value="Iniciar" />
      </form>
      <div id="formFooter">
        <a class="underlineHover" href="forgot">¿Ha olvidado su contraseña?</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
