{% extends "layout.html" %} {% block head %} {% endblock %} {% block title
%}Página Principal{% endblock %} {% block body %}
<div class="">
  {% if primer %}
  <div class="card text-white bg-success mb-2 fadeInDown fadeIn first ">
    <div class="card-header">{{ session["name"] }}</div>
    <div class="card-body">
      <h4 class="card-title">Se ha iniciado sesión correctamente</h4>
      <p class="card-text">{{ session["message"] }}</p>
    </div>
  </div>
  {% endif %}
</div>

<div class="row ">
  <!-- Izquierda -->

  <!-- Centro -->
  <div class="colorPrueba fadeIn first mx-auto align-self-start">
    <ul class="list-group">
      <li class="list-group-item">
        Humedad: <span class=" ml-3" id="hum"></span>
      </li>
      <li class="list-group-item">
        Temperatura: <span class=" ml-3" id="tem"></span>
      </li>
      <li class="list-group-item">
        Distancia: <span class=" ml-3" id="dis"></span>
      </li>
      <li class="list-group-item">
        Aviso: <span class=" ml-3" id="av"></span>
      </li>
      <li class="list-group-item">
        Alarma: <span class=" ml-3" id="al"></span>
      </li>
      <li class="list-group-item">
        Temperatura del Sistema: <span class=" ml-3" id="cpuT"></span>
      </li>
      <li class="list-group-item">
        Uso del sistema: <span class=" ml-3" id="cpu"></span>
      </li>
    </ul>
  </div>
  <!-- Derecha -->

  {{ agenda | safe }}
</div>

{% endblock %} {% block script %} {% include "estadoScp.html" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

{% endblock %}
