{% extends "layout.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/modal-images.css')}}"
/>
{% endblock %} {% block title %}Página Principal{% endblock %} {% block body %}
<div class="container">
  {% if primer %}
  <div class="card text-white bg-success mb-2 fadeInDown fadeIn first ">
    <div class="card-header">{{ session["name"] }}</div>
    <div class="card-body">
      <h4 class="card-title">Se ha iniciado sesión correctamente</h4>
      <p class="card-text">{{ session["message"] }}</p>
    </div>
  </div>
  {% endif %}
</div>
<div class="container">
  <div class="row ">
    <!-- Izquierda -->
    <!-- Centro -->
    <div class=" fadeIn first  shadow-lg ">
      <ul class="list-group ">
        <li class="list-group-item bg-primary rounded  text-white">
          Estado actual del Sistema
        </li>
        <li class="list-group-item bg-light text-info">
          Humedad: <span class=" ml-3" id="hum"></span>
        </li>
        <li class="list-group-item bg-white text-danger">
          Temperatura exterior: <span class=" ml-3" id="tem"></span>
        </li>
        <li class="list-group-item bg-light text-dark">
          Nivel del Agua: <span class=" ml-3" id="dis"></span>
        </li>
        <li class="list-group-item bg-white text-muted">
          Último movimiento detectado: <span class=" ml-3" id="av"></span>
        </li>
        <li class="list-group-item bg-light text-warning">
          Alarma: <span class=" ml-3" id="al"></span>
        </li>
        <li class="list-group-item bg-white text-danger">
          Temperatura del Sistema: <span class=" ml-3" id="cpuT"></span>
        </li>
        <li class="list-group-item bg-light text-success">
          Uso del sistema: <span class=" ml-3" id="cpu"></span>
        </li>
      </ul>
    </div>
    <!-- Derecha -->
    {{ agenda | safe }}
  </div>
</div>
{% if session["root"] %} {% include "log.html" %} {% endif %} {% endblock %} {%
block script %} {% include "estadoScp.html" %} {% endblock %}
