<!-- Modal de Modo Manual -->
<div class="modal fade" id="ManualModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="borradoTitulo">Modo manual</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>  Al activar el modo manual se desactivaran las restricciones y condiciones para poder crear y borrar un evento.<br/>
           Permitiendo que pueda haber más de un evento simultáneamente y realizar borrado masivos.<br/><br/>
          Para desactivar el Modo Manual pulse el botón "Modo automático" o cierre e inicie sesión</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="manualCerrar" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" id="manualBTN" class="btn btn-warning">
          Activar Modo manual
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal de Modo Automático -->
<div class="modal fade" id="AutoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="borradoTitulo">Modo Automático</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>  Al activar el modo automático se activará las restricciones y condiciones para poder crear y borrar un evento.<br/><br/>
           Impidiendo que se peuda crear pueda más de un evento simultáneamente y realizar borrado masivos<br/><br/>
          Los cambios se guardarán automáticamente</h6>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="autoCerrar" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" id="autoBTN" class="btn btn-primary">
          Activar Modo automático
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal de Borrado -->
<div class="modal fade" id="borradoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="borradoTitulo">Borrador de eventos</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select id="tipoBorrado">
          <option value="" selected disabled hidden>Seleccione tipo de borrado</option>
          <option value="full">Calendario entero</option>
          <option value="day">Día entero</option>
          <option value="user">Todos los eventos de un usuario</option>
          <option value="conv">Todos los eventos de un usuario en un día</option>
        </select><br />
        <div id="usrS"><select name='title' id='usuarioBorrado'>
            {{ lista | safe }} <br />
        </div>
        <div id="fchS"><input type="date" id="fechaBorrado" /></div>
      </div>
      <div class="modal-footer">
        <button type="button" id="masivoCerrar"class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" id="borradoBTN" class="btn btn-danger">
          Borrar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal de Selección-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloEvento">Editar Evento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="inicioEvento">
          Inicio
        </label> <br />
          <input type="text" id="inicioEvento" name="inicioEvento" /> <br />
          <label for="finEvento">
            Fin
          </label> <br />
          <input type="datetime" id="finEvento" name="finEvento" /> 
      </div>
      <div class="modal-footer">
        <button type="button" id="modalClose"class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button type="button" id="btnBorrar" class="btn btn-danger">
          Borrar Evento
        </button>
      </div>
    </div>
  </div>
</div>