{% extends "layout.html" %}


{% block title %}Perfil{% endblock %}

{% block body %}



<!------ Include the above in your HEAD tag ---------->

<div class="container">
  
    {% include "flash.html" %}
	<div class="row">


		<div class="col-md-3 fadeIn">
		     <div class="nav nav-tabs ">
              <a data-toggle="tab" href="#home" class="list-group-item list-group-item-action {% if ajustes %}active  {% endif %}" data-toggle="tab" href="#home">Información Personal</a>

              <a data-toggle="tab" href="#settings" class=" {% if dispositivo %}active  {% endif %} list-group-item list-group-item-action {% if not session["root"] %}disabled {% endif %}">Hardware</a>

              <a data-toggle="tab" href="#personal" class=" {% if registro %}active  {% endif %}list-group-item list-group-item-action {% if not session["root"] %}disabled {% endif %}" >Registrar nuevo usuario</a>

              <a data-toggle="tab" href="#lista" class=" {% if lista %}active  {% endif %}list-group-item list-group-item-action {% if not session["root"] %}disabled {% endif %}" >Usuarios</a>

              <a data-toggle="tab" href="#asignacion" class=" {% if asignacion %}active  {% endif %}list-group-item list-group-item-action {% if not session["root"] %}disabled {% endif %}" >Salidas</a>
          </div> 
		</div>
		<div class="col-md-9 fadeInDown">
		    <div class="card">
		        <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane {% if ajustes%}active  {% endif %}" " id="home">
		                  <div class="row">
                      <div class="col-md-12">
                          <h4>Ajustes de Cuenta</h4>
                          <hr>
                      </div>
		                </div>
		               <div class="row">
		                <div class="col-md-12">
		                    <form action="/update/{{session["id"]}}" method="POST">
                              <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Nombre completo*</label> 
                                <div class="col-8">
                                  <input id="username" name="fullname" value ="{{ session["name"] }}" class="form-control here" required="required" type="text" placeholder="Introduzca su nombre completo" disabled>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="text" class="col-4 col-form-label">Teléfono*</label> 
                                <div class="col-8">
                                  <input id="text" name="phone" value="{{ session["phone"] }}" class="form-control here" required="required" type="text" placeholder="Introduzca su número de teléfono">
                                </div>
                              </div> 
                              <div class="form-group row">
                                <label for="email" class="col-4 col-form-label">Email*</label> 
                                <div class="col-8">
                                  <input id="email" name="email" value="{{ session["email"] }}" class="form-control here" required="required" type="text" placeholder="Introduzca su email">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="select" class="col-4 col-form-label">Rol</label> 
                                <div class="col-8">
                                  <select id="select" name="admin" class="custom-select" disabled>
                                    <option value="1" {% if session["root"] %}selected {% endif %}>Administrador</option>
                                    <option value="0"  {% if not session["root"] %} selected {% endif %}>Usuario</option>
                                  </select>
                                </div>
                              </div>                        
                              <div class="form-group row">
                                <label for="publicinfo" class="col-4 col-form-label">Mensaje de Bienvenida</label> 
                                <div class="col-8">
                                  <textarea id="publicinfo" name="message" cols="40" rows="4" class="form-control" placeholder="Introduzca un mensaje para visualizar cada vez que inicie sesión" maxlength="255">{{ session["message"] }}</textarea>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <h4>Cambio de contraseña</h4>
                                <hr>
                            </div>
                              <div class="form-group row">
                                <input type="checkbox" id="con" onclick="myFunction()" > Cambiar contraseña  <br>
                                <input type="text" id="bool" name="bool" value="0" style="display:none">                                
                              </div> 
                            <div id="cont" style="display:none">
                              <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">Nueva contraseña*</label> 
                                <div class="col-8">
                                  <input id="newpass" name="newpass" placeholder="Introduzca la nueva contraseña" value="" class="form-control here" type="password" >
                                </div>
                              </div> 
                              <div class="form-group row">
                                <label for="repass" class="col-4 col-form-label">Repetir contraseña*</label> 
                                <div class="col-8">
                                  <input id="newpass" name="repass" placeholder="Repita la nueva contraseña" value="" class="form-control here" type="password" >
                                </div>
                              </div> 
                            </div>
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn-primary">Actualizar Perfil</button>
                                </div>
                              </div>
                              <strong>* Campo obligatorio</strong>
                        </form>
		                </div>
                </div>
              </div>
              <div class="tab-pane {% if dispositivo %}active  {% endif %}" id="settings">
                

                  <div class="row">
                      <div class="col-md-12">
                          <h4>Ajustes del Aplicativo</h4>
                          <hr>
                      </div>
		                </div>
		               <div class="row">
		                <div class="col-md-12">
		                    <form action="/updateDevice" method="POST">
                              <div class="form-group row">
                                  <label for="nameD" class="col-4 col-form-label">Nombre del Dispositivo</label> 
                                  <div class="col-8">
                                    <input id="nameD" name="nameD" value ="" class="form-control here" required="required" type="text" placeholder="Introduzca nombre del equipo">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="emailR" class="col-4 col-form-label">Email de alarmas</label> 
                                  <div class="col-8">
                                    <input id="emailR" name="emailR" value="" class="form-control here" required="required" type="text" placeholder="Introduzca email de avisos">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="tam" class="col-4 col-form-label">Altura del estanque</label> 
                                  <div class="col-8">
                                    <input id="tam" name="tam" value="" class="form-control here" required="required" type="number" placeholder="Introduzca el tamaño en Cm." min="1"
                                    step=".01">
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <h4>Parámetros de avisos</h4>
                                  <hr>
                              </div>
                                <div class="form-group row">
                                  <label for="disB" class="col-4 col-form-label">Nivel mínimo del agua</label> 
                                  <div class="col-8">
                                    <input id="disB" name="disB" value="" class="form-control here" required="required" type="number" placeholder="Introduzca la distancia en %" min="1" max ="98"
                                    >
                                  </div>
                                </div>
                              <div class="form-group row">
                                <label for="disA" class="col-4 col-form-label">Nivel máximo del agua</label> 
                                <div class="col-8">
                                  <input id="disA" name="disA" value="" class="form-control here" required="required" type="number" placeholder="Introduzca la distancia en %" min="2" max ="99"
                                  >
                              </div>
                            </div> 
                              
                              <div class="form-group row">
                                  <label for="tem" class="col-4 col-form-label">Aviso de temperatura</label> 
                                  <div class="col-8">
                                    <input id="tem" name="tem" value="" class="form-control here" required="required" type="number" placeholder="Introduzca temperatura de aviso en ºC" 
                                    >
                                </div>
                              </div> 
                              <div class="form-group row">
                                  <label for="hum" class="col-4 col-form-label">Aviso de humedad</label> 
                                  <div class="col-8">
                                    <input id="hum" name="hum" value="" class="form-control here" required="required" type="number" placeholder="Introduzca temperatura de aviso en %" min="1" max="99"
                                    >
                                </div>
                              </div>
                              <div class="col-md-12">
                                <h4>Intervalo de muestreos</h4>
                                <hr>
                            </div>
                            <div class="form-group row">
                              <label for="humTem" class="col-4 col-form-label">Humedad y Temperatura</label> 
                              <div class="col-8">
                                <input id="humTem" name="humTem" value="" class="form-control here" required="required" type="number" placeholder="Introduzca intervalo de toma de muestras en segundos" min="1"
                                >
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="disT" class="col-4 col-form-label">Nivel del agua</label> 
                              <div class="col-8">
                                <input id="disT" name="disT" value="" class="form-control here" required="required" type="number" placeholder="Introduzca intervalo de toma de muestras en segundos" min="1"
                                >
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="cpusT" class="col-4 col-form-label">Uso y temperatura interna de la de CPU</label> 
                              <div class="col-8">
                                <input id="cpusT" name="cpusT" value="" class="form-control here" required="required" type="number" placeholder="Introduzca intervalo de toma de muestras en segundos" min="1"
                                >
                              </div>
                            </div>
                              
                            
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn-primary">Actualizar Ajustes</button>
                                  <button type="button" class="btn-danger" data-toggle="modal" id="reboot" data-target="#rebootModal" >
                                    Reiniciar del Sistema
                                  </button>
                                  
                                </div>
                              </div>
                              <strong> Todos los campos son obligatorios </strong>
                        </form>
		                </div>
                </div>

              </div>
              <div class="tab-pane {% if registro %} active {% endif %}" id="personal">
                

                {% include "registro.html" %}

            </div>

            <div class="tab-pane {% if lista %} active {% endif %}" id="lista">
              <div class="row">
                <div class="col-md-12">
                    <h4>Listado de usuarios</h4>
                    <hr>
                </div>
              </div>

              {% include "lista.html" %}

          </div>
          <div class="tab-pane {% if asignacion %} active {% endif %}" id="asignacion">
              <div class="row">
                <div class="col-md-12">
                    <h4>Asignación de salidas </h4>
                    <hr>
                </div>
              </div>

              {% include "salidas.html" %}
              <div class="progress">
                  <div
                    class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                    role="progressbar"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width:1%"
                    id="asignaBar"
                  ></div>
                </div>
              <div class="form-group row">
                  <div class="offset-4 col-8">
                    <button type="button" class="btn-success"id="asigBTN" >
                      Actualizar Asignación
                    </button>
                    
                  </div>
                </div>
                <strong> Todos los campos son obligatorios </strong>
          </div>
            </div>	            
		        </div>
		    </div>
		</div>
	</div>
</div> 
                              
{% include "reboot.html" %}
{% endblock %}
{% block script %}


<script>
  $(document).ready(primera);
var nameD = document.getElementById("nameD"); 
var emailR = document.getElementById("emailR"); 
var tam = document.getElementById("tam"); 
var disB = document.getElementById("disB"); 
var disA = document.getElementById("disA"); 
var tem = document.getElementById("tem"); 
var hum = document.getElementById("hum"); 
var disT = document.getElementById("disT"); 
var cpusT = document.getElementById("cpusT"); 
var humTem = document.getElementById("humTem"); 
function primera(){
  $.get("/ajustes", function() {})
      .done(function(out) {
        
        
        cambiaAjustes (out)
      })
      .fail(function() {
        var t = setTimeout(startTime, 100);
        console.log("fail ajustes");
      });

}


function cambiaAjustes(valores) {
console.log(valores);
nameD.value = valores[0] 
emailR.value = valores[1] 
tam.valueL = valores[2]  
disB.value = valores[3]  
disA.value = valores[4] 
tem.value = valores[5] 
hum.value = valores[6]  
disT.value = valores[7] 
cpusT.value = valores[8] 
humTem.value = valores[9] 
}


</script>

<script>
var barra1 = document.getElementById("myBar"); 
boton1 = document.getElementById("rebootBTN");                      
cerrar = document.getElementById("cerrar");                      
barra1.style.display = "none";
var barra2 = document.getElementById("myBar2"); 
boton2 = document.getElementById("updateBTN");                      
cerrar2 = document.getElementById("cerrar2");                      
barra2.style.display = "none";

boton1.addEventListener("click", reinicio);
boton2.addEventListener("click", actualizacion);

function actualizacion() {
    
    $.get("/actualiza", function() {})
      .done(function(out) {
        
        console.log(out);
      })
      .fail(function() {
        
        console.log("fail actualiza");
      });
      
      move(barra2, 15);
    //document.getElementById("Cerrar").click();
  }


function reinicio() {
    
    $.get("/reinicio", function() {})
      .done(function(out) {
        
        console.log(out);
      })
      .fail(function() {
        
        console.log("fail reinicio");
      });
      
      move(barra1, 35);
    //document.getElementById("Cerrar").click();
  }

function myFunction() {
  // Get the checkbox
  var checkBox = document.getElementById("con");
  // Get the output text
  var text = document.getElementById("cont");
  
  var bool = document.getElementById("bool");


  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "block";
    bool.value= "1"
    
  } else {
    text.style.display = "none"; 
    bool.value= "0"
  }
}

function move(theBarra, tiempo) {
  theBarra.style.display = "block";
  boton1.disabled=true;
  cerrar.disabled=true;
  boton2.disabled=true;
  cerrar2.disabled=true;
  var final = tiempo * 10
  var width = 1;
  var id = setInterval(frame, final);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
      window.location.href = "/";
    } else {
      width++; 
      theBarra.style.width = width + '%'; 
      theBarra.innerHTML = width * 1  + '%';
    }
  }
  
}
</script>
<script>
  
    var botonA = document.getElementById("asigBTN");
    botonA.addEventListener("click", asignacion);
    var result = [];
    var barra3 = document.getElementById("asignaBar"); 
    barra3.style.display = "none";
    var tapV18 = document.getElementById("tapName18");
    var nombre18 = document.getElementById("Nombre18");
    var selected18; 
    var tapV23 = document.getElementById("tapName23");
    var nombre23 = document.getElementById("Nombre23");
    var selected23; 
    var tapV24 = document.getElementById("tapName24");
    var nombre24 = document.getElementById("Nombre24");
    var selected24; 
    var running;
    

    function asignacion(){
    {% for tap in taps %}
    selected{{tap.2}} = tapV{{tap.2}}.options[tapV{{tap.2}}.selectedIndex];
    result.push({{tap.2}});
    result.push (selected{{tap.2}}.value );
    
    {% endfor %}
    console.log (result)

    
    barra(barra3, 3)
    running = true;
    $.post("/asigna", {
      data: result,
    }).done(function(reply) {
      toDo(reply);
    });    
  }

  function toDo(algo){
    running = false;
    alert(algo.msj)
    botonA.disabled=false;
    barra3.style.width = 0 + '%'; 
    barra3.innerHTML = 0 * 1  + '%';
    barra3.style.display = "none";
    nombre18.innerHTML = algo.tap[0];
    nombre23.innerHTML = algo.tap[1];
    nombre24.innerHTML = algo.tap[2];
    result = [];
  }

  function barra(theBarra, tiempo) {
  theBarra.style.display = "block";
  botonA.disabled=true;
  var final = tiempo * 10
  var width = 1;
  var id = setInterval(frame, final);
  function frame() {
    if (width >= 100){
      clearInterval(id);
    }else{
      if (running){
        width++; 
        theBarra.style.width = width + '%'; 
        theBarra.innerHTML = width * 1  + '%';
      } else { 
        clearInterval(id);
      }
    }
    

  }
  
}

</script>


{% endblock %}