<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"
    />
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <button id="update">Update</button>
    <div class="ct-chart ct-perfect-fourth"></div>

    <script>
      var myChart;
      var getData = $.get("/dataD");
      var timeFormat = "HH:mm:ss";
      function newDateString(hours, minutes, seconds) {
        return moment()
          .hour(hours)
          .minute(minutes)
          .second(seconds)
          .format(timeFormat);
      }

      getData.done(function(results) {
        console.log(results.labels.length);
        var data = {
          // A labels array that can contain any sort of values
          labels: ["Mon", "Tue", "Wed", "Thu", "Fri"],
          // Our series array that contains series objects or in this case series data arrays

          series: results.results
        };

        options: {
                title: {
                  text: "Chart.js Time Scale"
                },
                scales: {
                  xAxes: [
                    {
                      type: "time",
                      time: {
                        parser: timeFormat,
                        // round: 'day'
                        tooltipFormat: "ll HH:mm"
                      },
                      scaleLabel: {
                        display: true,
                        labelString: "Date"
                      }
                    }
                  ],
                  yAxes: [
                    {
                      scaleLabel: {
                        display: true,
                        labelString: "value"
                      }
                    }
                  ]
                }
              }

        myChart = new Chartist.Line(".ct-chart", data, options);
      });

      function updateChart() {
        var updateData = $.get("/dataD");
        updateData.done(function(results) {
          var fechas = [];
          for (var i = 0; i < results.labels.length; i++) {
            fechas[i] = newDateString(
              results.labels[i][0],
              results.labels[i][1],
              results.labels[i][2]
            );
          }
          var data = {
            // A labels array that can contain any sort of values
            labels: fechas,
            // Our series array that contains series objects or in this case series data arrays

            series: results.results
          };
          myChart.update(data);
        });
      }
      $("#update").on("click", updateChart);
    </script>
  </body>
</html>
