
<div class="wrapper">
  <div id="formContent">
    <!-- Mensaje -->
    <div class="">
      {% for mensaje in mensaje %}
      <div class="card text-white bg-{{ mensaje.tipo }} mb-3 ">
        <div class="card-header">{{ mensaje.titulo }}</div>
        <div class="card-body">
          <h4 class="card-title">{{ mensaje.author }}</h4>
          <p class="card-text">{{ mensaje.mensaje }}</p>
        </div>

        {% endfor %}
      </div>
      <!-- Login Form -->
      <form action="/add_contact" method="POST">
        <input
          type="text"
          id="login"
          class=""
          name="fullname"
          placeholder="Nombre completo"
        />
        <input
          type="text"
          id="login"
          class=""
          name="phone"
          placeholder="Nº de teléfono"
        />
        <input
          type="text"
          id="login"
          class=""
          name="email"
          placeholder="Email"
        />
        <input
          type="password"
          id="password"
          class=""
          name="pass"
          placeholder="Contraseña"
        />
        <input
          type="password"
          id="password"
          class=""
          name="repass"
          placeholder="Confirmar Contraseña"
        />
        <input type="submit" class="" value="Registrar" />
      </form>
    </div>
  </div>
</div>
