<script>
  var dt;
  var DD;
  var YYYY;
  var hh;
  var mm;
  var ss;
  var date_string;
  function startTime() {
    fetch("/testa")
      .then(res => res.json())
      .then(out => {
        console.log(out.result[1]);
        dt = new Date(
          out.result[0],
          out.result[1],
          out.result[2],
          out.result[3],
          out.result[4],
          out.result[5]
        );
        console.log(dt);
        // ensure date comes as 01, 09 etc
        DD = ("0" + dt.getDate()).slice(-2);
        // getMonth returns month from 0
        MM = ("0" + (dt.getMonth() + 1)).slice(-2);
        YYYY = dt.getFullYear();
        hh = ("0" + dt.getHours()).slice(-2);
        mm = ("0" + dt.getMinutes()).slice(-2);
        ss = ("0" + dt.getSeconds()).slice(-2);
        date_string =
          YYYY + "-" + MM + "-" + DD + " " + hh + ":" + mm + ":" + ss;

        // will output something like "2019-02-14 11:04:42"
        console.log(date_string);

        document.getElementById("reloj").innerHTML = date_string;
      })
      .catch(err => console.error(err));
    var t = setTimeout(startTime, 1000);
  }
</script>
