<script>
  var dt;
  var DD;
  var YYYY;
  var hh;
  var mm;
  var ss;
  var date_string;
  function startTime() {
    $.get("/ahora", function() {})
      .done(function(out) {
        reloj(out);
      })
      .fail(function() {
        console.log("fail reloj");
        var t = setTimeout(startTime, 100);
      });
  }
  function reloj(result) {
    dt = new Date(
      result[0],
      result[1],
      result[2],
      result[3],
      result[4],
      result[5]
    );

    // ensure date comes as 01, 09 etc
    DD = ("0" + dt.getDate()).slice(-2);
    // getMonth returns month from 0
    MM = ("0" + (dt.getMonth() + 1)).slice(-2);
    YYYY = dt.getFullYear();
    hh = ("0" + dt.getHours()).slice(-2);
    mm = ("0" + dt.getMinutes()).slice(-2);
    ss = ("0" + dt.getSeconds()).slice(-2);
    date_string = YYYY + "-" + MM + "-" + DD + " " + hh + ":" + mm + ":" + ss;
    document.getElementById("reloj").innerHTML = date_string;

    // will output something like "2019-02-14 11:04:42"
    // funcion de mono manual
    /*if (out.estado == "0") {
      document.getElementById("manualmode").innerHTML = "";
    } else {
      document.getElementById("manualmode").innerHTML = "Modo Manual";
    }
    */

    var t = setTimeout(startTime, 1000);
  }
  $(document).ready(startTime);
</script>
